@function rem($pixels) {
    @return ($pixels / $defaultFontSize * 1rem);
}

@mixin tablet() {
    @media all and (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop() {
    @media all and (min-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin circle {
    border-radius: 100%;
}

@mixin displayFlex($direction, $justifyContent, $alignItems) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
}