@import './core/reset';
@import './core/animations';
@import './core/mixins';
@import './core/variables';

.main {
    height: 100%;
    padding: 32px 24px;
    background-color: $blue-color;
    @include displayFlex(column, center, center);

    &-header {
        margin-top: 48px;
    }

    // {/* Buttons */}
    &-container-buttons {
        min-width: 327px;
        margin-top: 45px;
        padding: 8px 31px 8px 6px;
        background-color: $dark-purple-color;
        color: $grey-color;
        font: 12px $font-kumbh-sans;
        @include displayFlex(row, space-between, center);
        border-radius: 31.5px;

        @include tablet {
            min-width: 373px;
            height: 63px;
            font-size: 14px;
        }

        &-button-1 {
            color: $blue-color;
            background-color: $orange-color;
            padding: 18px 23px;
            border-radius: 26.5px;
        }
    }

    // {/* Circle */}
    .circle {
        margin-top: 48px;
        min-width: 300px;
        min-height: 300px;
        background: linear-gradient(to left top, #2E325A, #0E112A);
        @include circle();
        @include displayFlex(column, center, center);
        font-family: $font-kumbh-sans;
        color: $grey-color;

        @include tablet {
            min-width: 410px;
            min-height: 410px;
            margin-top: 110px;
        }

        &-line-time {
            min-width: 248px;
            min-height: 248px;
            @include circle();
            @include displayFlex(column, center, center);
            border: solid 10px $orange-color;

            @include tablet {
                min-width: 340px;
                min-height: 340px;
            }

            &-pomodoro {
                font: 80px $font-kumbh-sans;
            }

            &-button-start {
                letter-spacing: 13px;
                text-transform: uppercase;

                @include tablet {
                    font-size: 16px;
                }
            }
        }

    }

    // {/* Settings */}
    .settings-button {
        margin-top: 80px;

        @include tablet {
            margin-top: 140px;
            margin-bottom: 68px;
        }

    }
    .material-icons {
        font-size: 28px;
        color: $grey-color
    }

    // {/* Modal container */}
    .modal {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    
        .settings-container {
            position: relative;
            background-color: $white-color;
            font-family: $font-kumbh-sans;
            margin: auto;
            margin-top: 13%;
            width: 85%;
            // height: 80%;
            padding: 24px;
            color: $dark-purple-color;
            border-radius: 15px;
            max-width: 540px;

            @include tablet {
                width: 540px;
                height: 490px;
                padding: 34px 24px 60px 24px;
            }

            // {/* Header Section */}
            &-header {
                @include displayFlex(row, space-between, center);

                &-title:first-letter {
                    text-transform: uppercase;
                }
                &-title {
                    font-size: 20px;

                    @include tablet {
                        font-size: 28px;
                    }
                }

                &-button-close {
                    color: #979797;
                }
            }

            .first-line {
                margin-top: 28px;
                border: 0.5px solid $line-color;

                @include tablet {
                    margin-top: 32px;
                }
            }
        }

        // {/* Time Section */}
        .settings-container-time {
            margin: 24px 0 24px 0;
            @include displayFlex(column, center, center);

            @include tablet {
                align-items: flex-start;
            }

            &-title {
                @include titleSettings();

                @include tablet {
                    font-size: 13px;
                    letter-spacing: 5px;
                }
            }

            &-form {
                margin-top: 10px;
                width: 100%;

                @include tablet {
                    @include displayFlex(row, space-between, center)
                }

                &-container {
                    @include displayFlex(row, space-between, center);
                    margin-top: 8px;

                    @include tablet {
                        @include displayFlex(column, center, start)
                    }
                    
                    &-label {
                        font-size: 12px;
                    }

                    &-input {
                        width: 140px;
                        height: 40px;
                        border: none;
                        background-color: $input-background-color;
                        border-radius: 10px;
                        padding-left: 16px;
                        font: 14px $font-kumbh-sans;

                        @include tablet {
                            margin-top: 10px;
                            height: 48px;
                        }
                    }
                }

            }
        }

        // {/* Font Section */}
        .settings-container-font {
            margin: 24px 0 24px;
            @include displayFlex(column, center, center);

            @include tablet {
                @include displayFlex(row, space-between, center);
            }

            &-title {
                @include titleSettings();

                @include tablet {
                    font-size: 13px;
                    letter-spacing: 5px;
                }
            }

            &-container {
                @include displayFlex(row, center, center);
                gap: 16px;

                &-button-1, &-button-2, &-button-3 {
                    margin-top: 24px;
                    width: 40px;
                    height: 40px;
                    @include circle();
                    padding: 12px 10px;
                    @include displayFlex(column, center, center);
                    font: 15px $font-kumbh-sans;
                    color: $white-color;
                    background-color: $dark-purple-color;

                    @include tablet {
                        margin-top: 0;
                    }
                }

                &-button-2, &-button-3 {
                    font-family: $font-roboto-slab;
                    color: $dark-purple-color;
                    background-color: $default-background-color;
                }

                &-button-3 {
                    font-family: $font-space-mono;
                }

            }
        }

        // {/* Color Section */}
        .settings-container-color {
            margin: 24px 0 30px;
            @include displayFlex(column, center, center);

            @include tablet {
                @include displayFlex(row, space-between, center);
            }

            &-title {
                @include titleSettings();

                @include tablet {
                    font-size: 13px;
                    letter-spacing: 5px;
                }
            }

            &-container {
                margin-top: 18px;
                @include displayFlex(row, center, center);
                gap: 16px;

                @include tablet {
                    margin-top: 0;
                }

                &-button-1, &-button-2, &-button-3 {
                    width: 40px;
                    height: 40px;
                    @include circle();
                }

                &-button-1 {
                    background-color: $orange-color;

                    .material-icons {
                        color: $dark-purple-color;
                    }
                }

                &-button-2 {
                    background-color: $aqua-color;

                    .material-icons {
                        display: none;
                        // color: $dark-purple-color;
                    }
                }

                &-button-3 {
                    background-color: $pink-color;

                    .material-icons {
                        display: none;
                        // color: $dark-purple-color;
                    }
                }
            }
        }

        .settings-container-apply-container {
            @include displayFlex(column, center, center);

            &-button {
            border-radius: 26.5px;
            width: 140px;
            height: 53px;
            background-color: $orange-color;
            position: absolute;
            bottom: -24px;
            color: $white-color;

            @include tablet {
                // bottom: 78px;
            }
            }
            &-button::first-letter {
                text-transform: uppercase;
            }
        }
    }
}